In [1]:
print("HOPE AI")

HOPE AI

In [7]:
name = input("Enter your institute name? ")

Enter your institute name?  HOPE AI

In [9]:
name = input ("Enter your name :")
age = input ("Enter your age :")
school_name = input ("Enter your school name :")
degree = input ("Enter your degree :")

Enter your name : Raj
Enter your age : 15
Enter your school name : Guru school
Enter your degree : B.E CSE

In [15]:
#Addition
a = int(input("a= "))
b = int(input("b= "))
print("add = ",a+b)

a=  43
b=  34

add=  77

In [17]:
# Subtraction
a = int(input("a= "))
b = int(input("b= "))
print("Sub = ",a-b)

a=  43
b=  34

Sub =  9

In [19]:
#Multiplication
a = int(input("a= "))
b = int(input("b= "))
print("Mul = ",a*b)

a=  63
b=  97

Mul =  6111

In [21]:
#Division
a = int(input("a= "))
b = int(input("b= "))
print("Float Div = ",a/b)

a=  76
b=  31

Float Div =  2.4516129032258065

In [23]:
#Floor Division
a = int(input("a= "))
b = int(input("b= "))
print("Floor Div = ",a//b)

a=  76
b=  31

Floor Div =  2

In [25]:
#Modulo
a = int(input("a= "))
b = int(input("b= "))
print("Modulo = ",a%b)

a=  76
b=  31

Modulo =  14

In [27]:
#Power
a = int(input("a= "))
b = int(input("b= "))
print("Power = ",a**b)

a=  4
b=  4

Power =  256