In [11]:
#print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [23]:
#print range 10 to 20
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [25]:
# print number of items in the list by using 'len'
lists = [10,20,14,55,43,87,76]
print(" Number of item in the list List2: ", len(lists))

 Number of item in the list List2:  7

In [27]:
temp_string = "Artificial Intelligence"
for character in temp_string:
    print(character)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [29]:
print("- Your Name - ")
print("- Your Age - ")
print("- Your Profession - ")

- Your Name -
- Your Age -
- Your Profession -

In [31]:
# Print this mixed datatype using Tuples

tup = (1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [33]:
# print mixed tuples
tup1 = (0,1,2,3)
tup2 = ('python','HOPE')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [43]:
#Print odd numbers in the list
tup = (20,10,16,19,25,1,276,188)
print(tup)
for temp in tup:
    if(temp%2!=0):
        print(temp, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [45]:
#Print even numbers in the list
tup = (20,10,16,19,25,1,276,188)
print(tup)
for temp in tup:
    if(temp%2==0):
        print(temp, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even